body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
}

#app {
    width: 100%;
    height: 800px;
    background=color: firebrick;
}

#game {
    width: 100%;
    height: 800px;
    background=color: salmon;
}

#chatbot {
    width: 100%;
    height: 800px;
    background=color: lawngreen;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
